@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 14px;
  font-family: "Pretendard", arial, sans-serif;
  line-height: 1.25em;
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #2f2f2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 15px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "Zephyr", arial, sans-serif;
  mix-blend-mode: difference;
  color: #fff;
}
.header .logo-area {
  padding: 15px 25px;
}
.header .logo-area svg {
  fill: #fff;
}
.header .logo {
  display: block;
  width: 85px;
}
.header .contact-area {
  display: flex;
  align-items: center;
  margin-right: 25px;
  border: 1px solid #fff;
  border-radius: 250px;
  transition: all 0.7s;
}
.header .contact-area:hover {
  background-color: #fff;
}
.header .contact-area:hover .link-mail {
  color: #000;
}
.header .link-mail {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 58px;
}
.header .link-mail span {
  padding: 5px 30px;
  font-size: 18px;
  line-height: 1;
}

.sc-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 110vh;
  padding-top: 10vw;
  color: #fff;
}
.sc-visual .sc-title {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: "Zephyr", arial, sans-serif;
}
.sc-visual .txt-line1,
.sc-visual .txt-line2 {
  display: block;
  font-size: 14vw;
  width: 100%;
  line-height: 1;
}
.sc-visual .txt-line1 {
  align-self: flex-start;
}
.sc-visual .txt-line1 .txt2 {
  margin-left: 15px;
  font-size: 8vw;
}
.sc-visual .txt-line2 {
  align-self: flex-end;
}
.sc-visual .txt-line2 .txt1 {
  margin-right: 30px;
}
.sc-intro .intro-area {
  display: flex;
  padding-left: 4vw;
  padding-top: 8.5vw;
  padding-bottom: 5vw;
  color: #fff;
}
.sc-intro .intro-area .sub-tit {
  display: flex;
  justify-content: center;
  width: 33.33333333%;
  padding-left: 2vw;
  padding-right: 2vw;
}
.sc-intro .intro-area .round {
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-family: "Fahkwang", sans-serif;
  font-size: 12px;
}
.sc-intro .intro-area .intro-box {
  font-family: "Zephyr", arial, sans-serif;
  font-size: 42px;
  line-height: 42px;
}
.sc-intro .intro-area .txt-line1,
.sc-intro .intro-area .txt-line2,
.sc-intro .intro-area .txt-line3 {
  display: block;
}
.sc-intro .intro-area .txt-line1 .txt2 {
  display: inline-block;
  padding: 3px 0;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
  transition: all 0.5s;
  cursor: pointer;
}
.sc-intro .intro-area .txt-line1 .txt2:hover {
  opacity: 1;
}
.sc-intro .point-area {
  display: flex;
  padding: 40vw 0 5vw 0;
  background-color: #fff;
}
.sc-intro .point-area > div {
  width: 50%;
  height: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
}
.sc-intro .point-area .column-left {
  padding-left: 0;
}
.sc-intro .point-area .column-left .thumb-box {
  width: 100%;
}
.sc-intro .point-area .column-right {
  align-self: center;
}
.sc-intro .point-area .desc-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 385px;
  margin: 0 auto;
}
.sc-intro .point-area .desc-box .desc-tit {
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Fahkwang", sans-serif;
  line-height: 1.4;
}
.sc-intro .point-area .desc-box .desc-txt {
  font-size: 15px;
}
.sc-intro .num-area {
  display: flex;
  justify-content: flex-end;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 15vw;
  background-color: #fff;
}
.sc-intro .num-area > * {
  display: block;
}
.sc-intro .num-area .num-box {
  display: flex;
  height: 280px;
  font-size: 280px;
  line-height: 1;
  font-family: "Zephyr", arial, sans-serif;
  overflow: hidden;
}
.sc-intro .num-area .num-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-intro .caption-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vw 0 37vw;
  background-color: #fff;
}
.sc-intro .caption-area > * {
  line-height: 1;
}
.sc-intro .caption-area .sub-tit {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Fahkwang", sans-serif;
}
.sc-intro .caption-area .desc {
  font-size: 30px;
  font-family: "Zephyr", arial, sans-serif;
}

.sc-project {
  position: relative;
  width: 100%;
  height: 100vh;
}
.sc-project .title-area {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 0;
  font-size: 18px;
  font-family: "Fahkwang", sans-serif;
}
.sc-project .project-area {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.sc-project .project-wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
.sc-project .project-wrap .column-left {
  width: 60%;
  height: 100%;
}
.sc-project .project-wrap .column-left .thumb-box {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sc-project .project-wrap .column-right {
  width: 40%;
}
.sc-project .project-wrap.wrap1 {
  background-color: #222;
}
.sc-project .project-wrap.wrap2 {
  background-color: #fff;
}
.sc-project .project-wrap.wrap3 {
  background-color: #ff6f62;
}
.sc-project .project-wrap.wrap4 {
  background-color: #fdfdf5;
}
.sc-project .project-wrap.wrap5 {
  background-color: #fff;
}
.sc-project .project-wrap.wrap6 {
  background-color: #fff;
}
.sc-project .project-wrap.wrap7 {
  background-color: #00d465;
}