*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.2;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul,ol{
    list-style: none;
}

/*
    @세팅구역
*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: $font-kn1;
    line-height: 1.25em;
    color: #fff;
    background-color: #000;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }



}
// *,
// *::before,
// *::after {
//     box-sizing: border-box;
//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

.hidden,
[hidden] {
    display: none !important;
}


a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

select,
input,
textarea,
button {
    font: inherit;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:disabled {
    background-color: rgba(255, 255, 255, 0);
    cursor: not-allowed;
}

select {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &::-ms-expand {
        display: none;
    }
}

input,
textarea {
    border: 0;
    &::placeholder {
        /* Chrome, Safari, Firefox */
        color: #444;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* IE, Edge */
        color: #444;
        opacity: 1;
    }
    &[readonly],
    &:disabled {
        &::placeholder {
            /* Chrome, Safari, Firefox */
            color: rgba(#000, 0.2);
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* IE, Edge */
            color: rgba(#000, 0.2);
            opacity: 1;
        }
    }
    &::-ms-clear,
    &::-ms-reveal {
        /* IE, Edge */
        display: none;
    }
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input,select,button,fieldset{
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
    border: 0;
    border-color: transparent;
    background-color: transparent;
}