@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/woff2/Pretendard-Medium.woff2) format('woff2'),
         url(../fonts/woff/Pretendard-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/woff2/Pretendard-Light.woff2) format('woff2'),
         url(../fonts/woff/Pretendard-Light.woff) format('woff');
}
@font-face {
    font-family: 'Zephyr';
    src: url(../fonts/Zephyr.eot);
    src: url(../fonts/Zephyr.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Zephyr.otf) format('otf'),
         url(../fonts/Zephyr.svg#Zephyr) format('svg'),
         url(../fonts/Zephyr.ttf) format('truetype'),
         url(../fonts/Zephyr.woff) format('woff'),
         url(../fonts/Zephyr.woff2) format('woff2');

    font-weight: 400;
    font-style: normal;     
}
@font-face {
    font-family: 'Culture';
    src: url(../fonts/Culture.eot);
    src: url(../fonts/Culture.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Culture.otf) format('otf'),
         url(../fonts/Culture.svg#Culture) format('svg'),
         url(../fonts/Culture.ttf) format('truetype'),
         url(../fonts/Culture.woff) format('woff'),
         url(../fonts/Culture.woff2) format('woff2');
    
    font-weight: 400;
    font-style: normal;      
}
