.header {
    .link-mail {
        display: flex;
        padding: 15px 30px;
        border: 1px solid #fff;
        border-radius: 50px;
        font-family: $font-en4;
        font-size: 18px;
        transition: all 0.7s;
        &:hover {
            background-color: #fff;
            .text {
                color: #000;
            }
        }
    }
}

@include laptop {
    .header {
        .link-mail {
            &:hover {
                background-color: #000;
                .text {
                    color: #fff;
                }
            }
        }
    }
}

@include mobile {
    .header {
        .link-mail {
            padding: 10px 15px;
            font-size: 15px;
        }
    }
}

// header end

.sc-intro {
    .round {
        @include round-Point;
        &:hover {
            border: 1px solid transparent;
            background-color: #fff;
            color: #000;
        }
    }
}

@include laptop {
    .sc-intro {
        .round {
            @include round-Point;
            pointer-events: none;
            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: #000;
                color: #fff;
            }
        }
    }
}

// sc-intro end

.sc-project {
    .project-wrap {
        .links {
            margin: 24px 0;
            font-size: 18px;
            font-family: $font-en2;
            a {
                display: inline-block;
                padding: 10px 20px;
                border: 1px solid #000;
                border-radius: 30px;
                transition: all 0.5s;
                &:hover {
                    background-color: #000;
                    color: #fff;
                    border: 1px solid transparent;
                }
    
            }
        }
    }
    .wrap1 {
        a[data-hover] {
            border: 1px solid #fff;
            &:hover {
                background-color: #fff;
                color: #36ac36;
            }
        }
    }
    .wrap3 {
        a[data-hover] {
            border: 1px solid #fff;
            &:hover {
                background-color: #fff;
                color: #ff6f62;
            }
        }
    }
    .wrap5 {
        a[data-hover] {
            &:hover {
                background-color: #fff;
                color: #ff6f62;
            }
        }
    }
    .wrap6 {
        a[data-hover] {
            border: 1px solid #fff;
            &:hover {
                background-color: #fff;
                color: #2ac1bc;
            }
        }
    }
    .wrap7 {
        a[data-hover] {
            border: 1px solid #fff;
            &:hover {
                background-color: #fff;
                color: #00d465;
            }
        }
    }
}

@include laptop {
    .sc-project {
        .project-wrap {
            .links {
                a {
                    &:hover {
                        background-color: transparent;
                        color: #000;
                        border: 1px solid #000;
                    }
        
                }
            }
        }
        .wrap1 {
            a[data-hover] {
                &:hover {
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
        .wrap3 {
            a[data-hover] {
                &:hover {
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
        .wrap5 {
            a[data-hover] {
                &:hover {
                    background-color: transparent;
                    border: 1px solid #000;
                    color: #000;
                }
            }
        }
        .wrap6 {
            a[data-hover] {
                &:hover {
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
        .wrap7 {
            a[data-hover] {
                &:hover {
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
    }
}

// sc-project end

.sc-contact {
    .link-mail {
        display: block;
        @include round-Point;
        &:hover {
            border: 1px solid transparent;
            background-color: #fff;
            color: #000;
        }
    }
}

@include laptop {
    .sc-contact {
        .link-mail {
            cursor: pointer;
            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: #000;
                color: #fff;
            }
        }
    }
}

// sc-contact-end

.footer {
    .link-area {
        display: flex;
        a {
            display: block;
            padding: 10px 25px;
            border: 1px solid #fff;
            border-radius: 50px;
            transition: all 0.5s;
            &:hover {
                background-color: #fff;
                color: #000;
            }
            & + a {
                margin-left: 25px;
            }
            .mobile {
                display: none;
            }
        }
    }
}
@include laptop {
    .footer {
        .link-area {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                padding: 15px;
                border-radius: 100%;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
                .pc {
                    display: none;
                }
                .mobile {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

// footer end