.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5vw 25px 30px;
    font-size: 14px;
    font-family: $font-en4;
    color: #fff;
    .link-area {
        display: flex;
        a {
            display: block;
            padding: 10px 25px;
            border: 1px solid #fff;
            border-radius: 50px;
            transition: all 0.5s;
            &:hover {
                background-color: #fff;
                color: #000;
            }
            & + a {
                margin-left: 25px;
            }
        }
    }
}

@include mobile {
    .footer {
        flex-direction: column;
        padding: 15vw 25px 30px 5vw;
        .link-area {
            margin-bottom: 35px;
            padding: 5px 15px;
            a {
                & + a {
                    margin-left: 12px;
                }
            }
        }
    }
}