.sc-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 110vh;
    padding-top: 10vw;
    color: #fff;
    .sc-title {
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
        padding-right: 2vw;
        font-family: $font-en1;
    }
    .txt-line1,
    .txt-line2 {
        display: block;
        font-size: 14vw;
        width: 100%;
        line-height: 1;
    }
    .txt-line1 {
        align-self: flex-start;
        .txt1 {}
        .txt2 {
            margin-left: 15px;
            font-size: 8vw;
        }
    }
    .txt-line2 {
        align-self: flex-end;
        .txt1 {
            margin-right: 30px;
        }
        .txt2 {}
    }
}

@include mobile {
    .sc-visual {
        .sc-title {
            padding-left: 2vw;
            padding-right: 2vw;
            text-align: center;
        }
        .txt-line1,
        .txt-line2 {
            display: block;
            font-size: 18vw;
        }
        .txt-line1 {
            align-self: auto;
            .txt1 {}
            .txt2 {
                display: block;
                margin-left: 15px;
                font-size: 8vw;
            }
        }
        .txt-line2 {
            align-self: auto;
            .txt1 {
                margin-right: 0;
            }
            .txt2 {
                display: block;
            }
        }
    }
}
.sc-intro {
    .intro-area {
        display: flex;
        padding-left: 4vw;
        padding-top: 8.5vw;
        padding-bottom: 5vw;
        color: #fff;
        .sub-tit {
            display: flex;
            justify-content: center;
            width: 33.33333333%;
            padding-left: 2vw;
            padding-right: 2vw;
        }
        .round {
            width: 140px;
            height: 140px;
            line-height: 140px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            font-family: $font-en4;
            font-size: 12px;
        }
        .intro-box {
            font-family: $font-en1;
            font-size: 42px;
            line-height: 42px;
        }
        .txt-line1,
        .txt-line2,
        .txt-line3 {
            display: block;
        }
        .txt-line1 {
            .txt2 {
                display: inline-block;
                padding: 3px 0;
                border-bottom: 1px solid #fff;
                opacity: 0.3;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .point-area {
        display: flex;
        padding: 30vw 0 5vw 0;
        background-color: #fff;
        & > div {
            width: 50%;
            height: 100%;
        }
        .column-left {
            .thumb-box {
                width: 100%;
            }
        }
        .column-right {
            align-self: center;
        }
        .desc-box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 385px;
            margin: 0 auto;
            .desc-tit {
                margin-bottom: 30px;
                font-size: 18px;
                font-family: $font-en4;
                line-height: 1.4;
            }
            .desc-txt {
                font-size: 18px;
                line-height: 22px;    
            }
        }
    }
    .num-area {
        display: flex;
        justify-content: flex-end;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 15vw;
        background-color: #fff;
        & > * {
            display: block;
        }
        .num-box {
            display: flex;
            height: 280px;
            font-size: 280px;
            line-height: 1;
            font-family: $font-en1;
            overflow: hidden;
        }
        .num-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateY(-280px);
        }
    }
    .caption-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15vw 0 37vw;
        background-color: #fff;
        & > * {
            line-height: 1;
        }
        .sub-tit {
            font-size: 18px;
            margin-bottom: 10px;
            font-family: $font-en4;
        }
        .desc {
            font-size: 30px;
            font-family: $font-en1;
        }
    }
}

@include tablet {
    .sc-intro {
        .num-area {
            .num-box {
                height: 200px;
                font-size: 200px;
            } 
            .num-list {
                transform: translateY(-200px);
            }
        }
        .point-area {
            .desc-box {
                max-width: none;
                padding: 0 5vw;
            }
        }
    }
}

@include mobile {
    .sc-intro {
        .intro-area {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            padding-top: 8.5vw;
            padding-bottom: 10vw;
            color: #fff;
            .sub-tit {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
            .intro-box {
                max-width: 300px;
            }
        }
        .num-area {
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 15vw;
            .num-box {
                height: 200px;
                font-size: 200px;
            } 
            .num-list {
                transform: translateY(-200px);
            }
        }
        .point-area {
            display: flex;
            flex-direction: column;
            padding: 40vw 0 0 0;
            & > div {
                width: 100%;
                height: 100%;
            }
            .column-right {
                display: flex;
                align-self: center;
                height: 100vh;
            }
            .desc-box {
                max-width: 320px;
                text-align: center;
            }
        }
        .caption-area {
            .desc {
                text-align: center;
                max-width: 278px;
            }
        }
    }
}
.sc-project {
    position: relative;
    width: 100%;
    .title-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 40px 0;
        color: #fff;
        font-size: 18px;
        font-family: $font-en4;
        mix-blend-mode: difference;
    }
    .project-area {
        // position: sticky;
        // top: 0;
        // left: 0;
        height: 700vh;
    }
    .project-wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        .column-left {
            width: 60%;
            height: 100%;
            .thumb-box{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
        .column-right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
        }
        &.wrap1 {
            color: #fff;
            background-color: #222;
            img {
                width: 40vw;
            }
            .links {
                a {
                    border: 1px solid #fff;
                    &:hover {
                        color: #36ac36;
                    }
                }
            }
        }
        &.wrap2 {
            background-color: #fff;
            img {
                width: 40vw;
            }
            .links {
                a {
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
        &.wrap3 {
            color: #fff;
            background-color: #ff6f62;
            img {
                width: 13vw;
            }
            .links {
                a {
                    border: 1px solid #fff;
                    &:hover {
                        color: #ff6f62;
                    }
                }
            }
        }
        &.wrap4 {
            background-color: #f1f1e0;
            img {
                width: 40vw;
            }
            .links {
                a {
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
        &.wrap5 {
            background-color: #fff;
            img {
                width: 40vw;
            }
            .links {
                a {
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
        &.wrap6 {
            background-color: #fff;
            img {
                width: 40vw;
            }
            .links {
                a {
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
        &.wrap7 {
            color: #fff;
            background-color: #00d465;
            img {
                width: 25vw;
            }
            .links {
                a {
                    border: 1px solid #fff;
                    &:hover {
                        color: #00d465;
                    }
                }
            }
        }
    }
    .info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 6vw;
    }
    .pagination {
        line-height: 1;
        font-size: 25px;
        font-style: italic;
        font-family: $font-en1;
    }
    .project-tit {
        margin: 20px 0 25px;
        line-height: 1;
        font-size: 50px;
        font-family: $font-en2;
        white-space: nowrap;
    }
    .desc {
        font-size: 18px;
        line-height: 22px;
        font-family: $font-kn1;
        text-align: center;
    }
    .links {
        margin: 24px 0;
        font-size: 18px;
        font-family: $font-en2;
        a {
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #000;
            border-radius: 30px;
            transition: all 0.5s;
            &:hover {
                background-color: #fff;
                border: 1px solid transparent;
            }

        }
    }
    .skill {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        font-family: $font-en2;
        span {
            margin: 0 4px;
        }
    }
}

@include tablet {
    .sc-project {
        .project-wrap {
            .column-left {
                width: 50%;
            }
            .column-right {
                width: 50%;
            }
        }    
    }
}

@include mobile {
    .sc-project {
        .project-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .column-left {
                width: 100%;
                height: 50%;
            }
            .column-right {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50%;
            }
            .project-tit {
                font-size: 40px;
            }
            .skill {
                justify-content: center;
            }
            &.wrap1 {
                img {
                    width: 60vw;
                }
                .links {
                    a {
                        &:hover {
                            pointer-events: none;
                        }
                    }
                }
            }
            &.wrap2 {
                img {
                    width: 60vw;
                }
                .links {
                    a {
                        &:hover {
                            pointer-events: none;
                        }
                    }
                }
            }
            &.wrap3 {
                img {
                    width: 24vw;
                }
                .links {
                    a {
                        &:hover {
                            pointer-events: none;
                        }
                    }
                }
            }
            &.wrap4 {
                img {
                    width: 60vw;
                }
                .links {
                    a {
                        &:hover {
                            pointer-events: none;
                        }
                    }
                }
            }
            &.wrap5 {
                img {
                    width: 60vw;
                }
                .links {
                    a {
                        &:hover {
                            pointer-events: none;
                        }
                    }
                }
            }
            &.wrap6 {
                img {
                    width: 60vw;
                }
                .links {
                    a {
                        &:hover {
                            pointer-events: none;
                        }
                    }
                }
            }
            &.wrap7 {
                img {
                    width: 40vw;
                }
                .links {
                    a {
                        &:hover {
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}
.sc-goal {
    padding-top: 30vw;
    .num-area {
        display: flex;
        justify-content: flex-start;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 15vw;
        & > * {
            display: block;
        }
        .num-box {
            display: flex;
            height: 280px;
            font-size: 280px;
            line-height: 1;
            font-family: $font-en1;
            overflow: hidden;
        }
        .num-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateY(-560px);
        }
    }
    .goal-area {
        display: flex;
        padding: 0 0 5vw 0;
        & > div {
            width: 50%;
            height: 100%;
        }
        .column-left {
            align-self: center;
        }
        .desc-box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 385px;
            margin: 0 auto;
            .desc-tit {
                margin-bottom: 30px;
                font-size: 18px;
                font-family: $font-en4;
                line-height: 1.4;
            }
            .desc-txt {
                font-size: 18px;
                line-height: 22px;   
            }
        }
        .column-right {
            padding-right: 8vw;
            .thumb-box {
                width: 100%;
            }
        }
    }
}

@include tablet {
    .sc-goal {
        .num-area {
            .num-box {
                height: 200px;
                font-size: 200px;
            } 
            .num-list {
                transform: translateY(-400px);
            }
        }
        .goal-area {
            .desc-box {
                max-width: none;
                padding: 0 5vw;
            }
        }
    }
}

@include mobile {
    .sc-goal {
        .num-area {
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 15vw;
            .num-box {
                height: 200px;
                font-size: 200px;
            } 
            .num-list {
                transform: translateY(-400px);
            }
        }
        .goal-area {
            & > div {
                width: 100%;
                height: auto;
            }
            flex-direction: column;
            .column-left {
                display: flex;
                height: 100vh;
            }
            .column-right {
                padding-right: 0;
                height: 1000px;
                .thumb-box {
                }
                img {
                    width: 100%;
                    height: 100%;

                }
            }
            .desc-box {
                max-width: 320px;
                text-align: center;
            }
        }
    }
}

.sc-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 20vw;
    background-color: #000;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 5vw;
    .msg-area {
        padding-left: 6vw;
        margin-bottom: 90px;
    }
    .contact-msg {
        font-size: 18px;
        font-family: $font-en4;
    }
    .contact-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub-tit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
    .link-mail {
        display: block;
        width: 140px;
        height: 140px;
        line-height: 140px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        font-family: $font-en4;
        font-size: 12px;
    }
    .contact-box {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .contact-txt {
        font-family: $font-en1;
        font-size: 17vw;
        width: 100%;
        line-height: 1;
    }
}

@include mobile {
    .sc-contact {
        .msg-area {
            padding-left: 0;
            margin-bottom: 30vw;
            text-align: center;
        }
        .contact-area {
            display: flex;
            flex-direction: column-reverse;
        }
        .sub-tit {
            width: 100%;
        }
        .contact-box {
            margin-bottom: 20vw;
            padding-left: 0;
            padding-right: 0;
        }
    }
}