.sc-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 110vh;
    padding-top: 10vw;
    color: #fff;
    .sc-title {
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
        padding-right: 2vw;
        font-family: $font-en1;
    }
    .txt-line1,
    .txt-line2 {
        display: block;
        font-size: 14vw;
        width: 100%;
        line-height: 1;
    }
    .txt-line1 {
        align-self: flex-start;
        .txt1 {
        }
        .txt2 {
            margin-left: 15px;
            font-size: 8vw;
        }
    }
    .txt-line2 {
        align-self: flex-end;
        .txt1 {
            margin-right: 30px;
        }
        .txt2 {}
    }
}
.sc-intro {
    .intro-area {
        display: flex;
        padding-left: 4vw;
        padding-top: 8.5vw;
        padding-bottom: 5vw;
        color: #fff;
        .sub-tit {
            display: flex;
            justify-content: center;
            width: 33.33333333%;
            padding-left: 2vw;
            padding-right: 2vw;
        }
        .round {
            width: 140px;
            height: 140px;
            line-height: 140px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            font-family: $font-en4;
            font-size: 12px;
        }
        .intro-box {
            font-family: $font-en1;
            font-size: 42px;
            line-height: 42px;
        }
        .txt-line1,
        .txt-line2,
        .txt-line3 {
            display: block;
        }
        .txt-line1 {
            .txt2 {
                display: inline-block;
                padding: 3px 0;
                border-bottom: 1px solid #fff;
                opacity: 0.3;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .point-area {
        display: flex;
        padding: 40vw 0 5vw 0;
        background-color: #fff;
        & > div {
            width: 50%;
            height: 100%;
            padding-left: 2vw;
            padding-right: 2vw;
        }
        .column-left {
            padding-left: 0;
            .thumb-box {
                width: 100%;
            }
        }
        .column-right {
            align-self: center;
        }
        .desc-box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 385px;
            margin: 0 auto;
            .desc-tit {
                margin-bottom: 30px;
                font-size: 18px;
                font-family: $font-en4;
                line-height: 1.4;
            }
            .desc-txt {
                font-size: 15px;    
            }
        }
    }
    .num-area {
        display: flex;
        justify-content: flex-end;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 15vw;
        background-color: #fff;
        & > * {
            display: block;
        }
        .num-box {
            display: flex;
            height: 280px;
            font-size: 280px;
            line-height: 1;
            font-family: $font-en1;
            overflow: hidden;
        }
        .num-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .num-item {
            &:last-of-type {
    
            }
        }
    }
    .caption-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15vw 0 37vw;
        background-color: #fff;
        & > * {
            line-height: 1;
        }
        .sub-tit {
            font-size: 12px;
            margin-bottom: 10px;
            font-family: $font-en4;
        }
        .desc {
            font-size: 30px;
            font-family: $font-en1;
        }
    }
}