@mixin ellip($line-height:15px,$lines:1) {
    text-overflow: ellipsis;
    overflow: hidden;

    @if($lines > 1){
        line-height: $line-height;
        max-height: $line-height * $lines;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical; /* autoprefixer: off */
    }@else{
        white-space: nowrap;
    }
}

@mixin position-Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin round-Point {
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    font-family: $font-en4;
    font-size: 12px;
    transition: background-color 0.8s, border 0.8s , color 0.8s;
}
// responsive

$laptop: 1023px;
$tablet: 768px;
$mobile: 767px;


@mixin laptop {
    @media (max-width:$laptop){
        @content;
    }
}

@mixin tablet {
    @media (min-width:$tablet) and (max-width:$laptop){
        @content;
    }
}

@mixin mobile {
    @media (max-width:$mobile){
        @content;
    }
}